<h4 class="ui center aligned medium icon header">
    <i class="circular orange clipboard icon"></i>
    Edit this account!
</h4>

<%= turbo_frame_tag "data_attribute_frame" do %>
    <div class="ui two column centered grid">
        <%= render "form", user: @user %>
    </div>
<% end %>
