<h1 class="ui centered grid large">Sign Up</h1>

<h4 class="ui center aligned medium icon header">
    <i class="circular orange clipboard icon"></i>
    Create a new account!
</h4>

<div class="ui two column centered grid">
<%= render "form", user: @user %>
</div>
