<h4 class="ui center aligned medium icon header">
    <i class="circular orange user icon"></i> <div class="ui block header"><h2><%= @user.username %>'s Profile</h2></div>
</h4>

<%= render @user %>

<div class="ui center aligned medium icon header">
  <%= link_to "[ Back to users ]", users_path %>
</div>
